.delete-button {
  display: block;
  background-image: url(../../images/deleteButton.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  width: 18px;
  height: 19px;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
  z-index: 5;
}
.delete-button:hover {
  opacity: 0.6;
}