.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  margin-left: 25px;
}
.header__text:hover {
  opacity: 0.6;
}
