.auth__container {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px;
}
@media screen and (max-width: 650px) {
  .auth__container {
    margin: 40px auto;
    max-width: 260px;
  }
}